.about-page {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;

  .sec-title {
    font-size: 16px;
    color: #819291;
    display: inline-block;
    font-weight: 700;
    margin-top: 25px;
  }

  h2 {
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    color: #003733;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    letter-spacing: -0.03em;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    color: #819291;
    margin-top: 20px;
  }

  p button {
    padding: 5px 30px 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #93bb57;
    color: white;
    border: none;
    border-radius: 35px;
    font-weight: 500;
  }

  p button:hover {
    background-color: #003733;
  }
}
