#appoinmentBooking {
  .css-vycme6-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
    padding: 0px;
    width: 115%;
  }
  .css-lqwr9g-MuiPickersOutlinedInput-notchedOutline,
  .css-1l1mqzp {
    margin-bottom: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: black;
  }
  legend {
    margin-bottom: 0px !important;
  }
  .css-1q72ply-MuiButtonBase-root-MuiSwitchBase-root-MuiRadio-root {
    padding: 7px 7px;
  }
  .css-113d811-MuiFormLabel-root-MuiInputLabel-root,
  .css-160rfsr {
    left: -14px;
  }
  .css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root,
  .css-160rfsr {
    left: -14px;
  }
  .css-10bxh4q-MuiDialogContent-root {
    padding: 15px 24px;
  }
}
