#service {
  display: block;
  justify-items: center;
  overflow: hidden;
  margin: 40px 20px;

  .section-title h3 {
    font-size: 28px;
    font-weight: 700;
  }

  .section-title h3:before,
  .section-title h3:after {
    content: "";
    width: 50px;
    height: 2px;
    background: #e84545;
    display: inline-block;
  }

  .section-title h3:before {
    margin: 0 15px 10px 0;
  }

  .section-title h3:after {
    margin: 0 0 10px 15px;
  }

  .service-page {
    max-width: 100%;
    margin: 25px auto 0;
    overflow: hidden;
    padding: 15px;

    .slider {
      overflow: hidden;
      width: 100%;
      max-width: 100%;
    }

    .group {
      display: flex;
      width: max-content;
      will-change: transform;
      animation: scrollMarquee 30s linear infinite;

      &:hover {
        animation-play-state: paused;
      }
    }

    .item {
      flex: 0 0 auto;
      padding: 0 10px;
      height: 230px;
    }

    @media (max-width: 768px) {
      .item {
        height: 180px;
      }
    }

    @media (max-width: 480px) {
      .item {
        height: 150px;
      }
    }

    .item img {
      width: 250px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }

    .slider-name {
      width: 250px;
      background-color: #212529;
      border-radius: 0px 0px 10px 10px;
      font-family: serif;
      font-size: 20px;
      font-weight: 600;
      position: sticky;
      bottom: 30px;
      height: 45px;
      opacity: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: white;
      }
    }

    @keyframes scrollMarquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .btn-conteiner {
      display: flex;
      justify-content: center;
      --color-text: #ffffff;
      --color-background: #93bb57;
      --color-outline: #93bb57;
      --color-shadow: #00000080;
    }

    .btn-content {
      display: flex;
      align-items: center;
      padding: 0px 15px;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 15px;
      color: var(--color-text);
      background: var(--color-background);
      border: none;
      border-radius: 100px;
      box-shadow: 0 0 0.2em 0 var(--color-background);
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        outline: 0.1em solid transparent;
        outline-offset: 0.2em;
        box-shadow: 0 0 0.4em 0 var(--color-background);
        animation: btn-pulse 1s;
      }
    }

    .icon-arrow {
      margin-left: 15px;
      font-size: 1.4rem;
      transform: scale(0.9);
      transition: margin-right 0.5s ease;
      position: relative;
      top: 5%;
    }

    .btn-content:hover .icon-arrow {
      margin-left: 25px;
      animation: arrow-blink 1s infinite;
    }

    @keyframes btn-pulse {
      0% {
        outline: 0.2em solid #93bb57;
        outline-offset: 0;
      }
    }

    @keyframes arrow-blink {
      0%,
      100% {
        color: white;
      }
      50% {
        color: #93bb57;
      }
    }

    @media (max-width: 768px) {
      .item img {
        width: 180px;
        height: 140px;
      }
    }
    @media (max-width: 768px) {
      .slider-name {
        width: 180px;
        font-size: 16px;
        height: 40px;
        bottom: 40px;
      }
    }

    @media (max-width: 480px) {
      .item img {
        width: 140px;
        height: 110px;
      }
    }

    @media (max-width: 480px) {
      .slider-name {
        width: 140px;
        font-size: 13px;
        height: 35px;
        bottom: 40px;
      }
    }
  }
}
